
/***
Style for  10.0'
***/
@media all and (max-width: 800px){
	
	.home {
	 	height: 1280px;
	 }
	.index div[data-role="content"]{
		padding: 0 10%;
		margin-top:40%;
	}
	.index div[data-role="content"] h1{
		font-size: 3em;
	}
	#content .form-title{
		margin-left:3%;
	}
	#content .login-form {
		width: 90%;
	}
	.ui-navbar li .ui-btn {
		border-right-width: 1px;
	}
	 #content .login-form div.ui-input-text >a,
	 #content .login-form div.bloc-bouton > a,
	 #content .login-form div.bloc-bouton a ~ a{
	   margin: 0 0 .8em 0;
	}
	#content .content-secondary,
	#content .navbar,
	#content .iosSlider{
		width: 96%;
		float: none;
		margin: 0 auto;
	} 
	#content .content-secondary .ui-listview{
		margin:0;
	}
	#content .content-primary{
		width: 96%;
		clear: both;
		min-height: 100%;
		float: none;
		margin: 1em auto 0 auto;
	}
	#content .content-primary .info,
	#content .content-primary .forfaits{
		width: 100%;
		margin:0;
		padding:0;
	}
	#content .content-primary .info{
		padding: 0.5em;
	}
	#content .content-primary .info > div{
		margin-left: 0.5em;
	}
	.login-form .ui-grid-a .ui-block-a, 
	.login-form .ui-grid-a .ui-block-b {
		width: 46.95%;
	}
	.login-form .ui-grid-a .ui-block-a + .ui-block-b {
		margin-left: 6%;
	}
	.login-form .ui-grid-b .ui-block-a, 
	.login-form .ui-grid-b .ui-block-b, 
	.login-form .ui-grid-b .ui-block-c {
		width: 31.25%;
	}
	#content .login-form .ui-grid-b .ui-block-b,
	#content .login-form   .ui-grid-b .ui-block-c {
		margin-left:3%;
	}
	.login-form .ui-responsive .ui-block-a, 
	.login-form .ui-responsive .ui-block-b, 
	.login-form .ui-responsive .ui-block-c, 
	.login-form .ui-responsive .ui-block-d, 
	.login-form .ui-responsive .ui-block-e {
		float: left;
	}
	.iosSlider{
		width: 90%;
		height: 310px;
		border-radius: 1em;
		margin: 0 auto;
	}
	.iosSlider .slider .item {
		width: 729px;
		height: auto;
	}
	#content .bottom-menu{
		margin-top:1em;
		width:100%;
	}
	#content .bottom-menu ul{
	}
	.account .info.edit-account fieldset {
		padding: 3% 0 2% 3%;
		margin-right: 2%;
	}
}
@media all and (max-width: 480px){
	#page {
		font-size: .8em;
	}
	
	.home {
	 	height: 800px;
	 }
	.index div[data-role="content"]{
		margin-top:40%;
	}
	#content .login-form{
 		min-height:20em;
	}
	.login-form .ui-grid-a .ui-block-a, 
	.login-form .ui-grid-a .ui-block-b {
		width: 100%;
	}
	.login-form .ui-grid-a .ui-block-a + .ui-block-b {
		margin-left: 0;
	}
	.login-form .ui-grid-b .ui-block-a, 
	.login-form .ui-grid-b .ui-block-b, 
	.login-form .ui-grid-b .ui-block-c {
		width: 100%;
	}
	#content .login-form  .ui-grid-b .ui-block-b,
	#content .login-form   .ui-grid-b .ui-block-c {
		margin-left:0;
	}
	.login-form .ui-responsive .ui-block-a, 
	.login-form .ui-responsive .ui-block-b, 
	.login-form .ui-responsive .ui-block-c, 
	.login-form .ui-responsive .ui-block-d, 
	.login-form .ui-responsive .ui-block-e {
		float: none;
	}
	.iosSlider{
		height: 200px;
	}
	.account .info.edit-account .button div {
		width:100%;
		margin-left:auto;
		margin-right:auto;
		float:none;
	}
}