
/***
Style for  10.0'
***/
/*@media all and (max-width: 1290px){*/
@media all and (max-width: 1500px){
	.home {
	 	height: 800px;
	 }
	.index div[data-role="content"]{
		margin-top:7%;
	}
	.index div[data-role="content"] h1{
		font-size: 4em;
	}
	.content-secondary .deconnexion{
	   	bottom: 0;
		margin-left: 1em;
	    margin-right: 1em;
	    position: absolute;
	    width: 81%;
	}
	.ui-responsive .navbar .ui-block-a, 
	.ui-responsive .navbar .ui-block-b, 
	.ui-responsive .navbar .ui-block-c{
		float:left;
	}
	.ui-responsive .navbar .ui-grid-d>:nth-child(n){
		width: 20%;
		float: left;
	}
	.ui-grid-b>:nth-child(n) {
		width: 33.333%;
		margin-right: -.5px;
	}
	.login-form .ui-grid-a .ui-block-a, 
	.login-form .ui-grid-a .ui-block-b {
		/*width: 46.95%;*/
	}
	#content  .login-form .ui-block-a,
	#content  .login-form .ui-block-b,
	#content  .login-form .ui-block-c{
		width: auto;
	}

	#content .login-form div.bloc-bouton a.back .ui-btn-inner{
		padding-left: 3em;
	}
	
	#content .login-form .ui-block-a ~ .ui-block-b,
	#content .login-form .ui-block-a ~ .ui-block-c {
		/*margin-left: 6%;*/
		float:right;
	}
	#content .login-form .ui-block-a ~ .ui-block-b .ui-btn-inner,
	#content .login-form .ui-block-a ~ .ui-block-c .ui-btn-inner{
		padding: 0.5em 1em;
	}
	
	.login-form .ui-grid-b .ui-block-a, 
	.login-form .ui-grid-b .ui-block-b, 
	.login-form .ui-grid-b .ui-block-c {
		width: 31.25%;
	}
	#content .login-form .ui-grid-b .ui-block-b,
	#content  .login-form .ui-grid-b .ui-block-c {
		margin-left:3%;
	}
	.login-form .ui-responsive .ui-block-a, 
	.login-form .ui-responsive .ui-block-b, 
	.login-form .ui-responsive .ui-block-c, 
	.login-form .ui-responsive .ui-block-d, 
	.login-form .ui-responsive .ui-block-e {
		float: left;
	}
	
	
	#content .form-title, 
	#content .login-form{
		width:60%;
	}
	#content .login-form div.bloc-bouton.controlPin .back ~ div {
    	font-weight: normal;
	    margin: 0 0 0 6%;
	    width: 30%;
	}
	#content .content-primary{
    	width: 73%;
    	float: right;
    	padding:0 1%;
	 	max-height: 633px;
		min-height: 633px;
	}
	#content .content-secondary{
    	width: 25%;
    	min-height: 680px;
    	position: relative;
		float: right;
	}
	#content .content-secondary .ui-li .ui-btn-text a{
    	white-space: pre-wrap;
	}
	
	.iosSlider {
		width: 90%;
		height: 380px;
		border-radius: 1em;
		margin: 0 auto;
	}	
	.iosSlider .slider .item {
		width: 929px;
		height: 380px;
	}
	#content .bottom-menu{
		margin-top:1em;
		width:100%;
	}
	#content .bottom-menu ul{
	}
	.ui-responsive .edit-account .field{
		clear:both;
		overflow:hidden;
	}
	.ui-responsive .edit-account .field > *{
		float:left;
	}
	.ui-responsive .edit-account .field label{
		width:32%;
		margin: 1em 0 0 0;
	}
	.ui-responsive .edit-account .field div,
	.ui-responsive .edit-account .field #num {
		width:65%;
	}
	.ui-responsive .edit-account .field #num {
		margin: 1em 0 0 0;
	}
}
/***
Style for Gallaxy s2 ou 4.0'
***/
@media all and (max-width: 800px){
	#page{
		font-size: 1em;
	}
	.home {
	 	height: 480px;
	 }
	.index div[data-role="content"]{
		margin-top:2%;
	}
	.content-secondary .deconnexion{
	   margin-left:0;
	}
	#content .form-title, #content .login-form {
		width: 90%;
	}
	#content .login-form{
 		min-height:9em;
	}
	#content .content-primary{
    	width: 73%;
    	float: right;
    	padding:0 1%;
 		min-height:100%;
	}.content-secondary ul.ui-listview {
		margin-left: 0;
	}
	.iosSlider {
		height: 250px;
	}	
	.iosSlider .slider .item {
		height: 250px;
	}
}