h1,h2,h3,h4,
ul,li,a,
.ui-body-c .ui-link{
	font-weight: normal;
	list-style:none;
	color: inherit;
	margin:0;
	padding:0;
}
html,
#body{
	background:url("../img/home.png") no-repeat scroll 0 0 / cover   transparent;
	font-size: 1.5em;
	text-shadow: none;
	font-family:"century gothic", century gothic, sans-serif;
}
.ui-page{
	background:none repeat scroll 0 0 transparent;
}

.index{
	
}